<%- include('partials/header') %><%- include('partials/nav') %>

<h3 class="container">Analyze</h3>
<div class="container height-full">
  <h4>Blogs per Author</h4>
  <% if (results.length > 0) { %> <% results.forEach(result => { %>
  <ul>
    <li>
      <span class="bd">Author: </span><%= result._id %>
      <span class="ms bd">Number of Blogs: </span>
      <span class="rounded-circle"><%= result.count %></span>
    </li>
  </ul>
  <% }) %> <% } else { %>
  <p>No blogs found.</p>
  <% } %>
</div>
<%- include('partials/footer') %>
