<%- include('partials/header') %><%- include('partials/nav') %>

<div class="container height-full">
  <h2 class="blog-details-main-heading"><%= title %></h2>
  <div class="blog">
    <div class="side-blogs">
      <% if (randomTenBlogs.length > 0) { %> <% randomTenBlogs.forEach(blog => {
      %>
      <form action="/blog" method="POST">
        <input type="hidden" name="_id" value="<%= blog._id %>" />
        <button class="btn-link"><%= blog.title %></button>
      </form>
      <% }) }%>
    </div>
    <div class="blog-body">
      <%- body.replace(new RegExp('\n', 'g'), '<br />') %>
    </div>
    <div class="blog-details blog-details-invisible">
      <p><span class="bold">Description: </span><%= description %></p>
      <p><span class="bold">Author: </span><%= author %></p>
      <p><span class="bold">State: </span><%= state %></p>
      <p><span class="bold">Read Count: </span><%= read_count %></p>
      <p><span class="bold">Reading Time: </span><%= reading_time %></p>
      <p><span class="bold">Tag: </span><%= tag %></p>
      <p><span class="bold">Date Created: </span><%= createdAt %></p>
      <p><span class="bold">Date Updated: </span><%= updatedAt %></p>
    </div>
    <div class="blog-details-heading">
      <div><span class="bold"><%= title %></span></div>
      <div>
        <img class="arrow-icon" src="/down.png" alt="Down Symbol" />
      </div>
      <div class="hidden">
        <img class="arrow-icon" src="/up.png" alt="Up Symbol" />
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
