<%- include('partials/header') %><%- include('partials/nav') %>

<h3 class="container">Home</h3>
<div class="container height-full">
  <h4 class="text-centre">List of Published Blogs</h4>
  <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
  <form action="/blog" method="POST">
    <input type="hidden" name="_id" value="<%= blog._id %>" />
    <button class="btn-link"><%= blog.title %></button>
  </form>
  <% }) %> <% } else { %>
  <p>No blogs found.</p>
  <% } %>
</div>

<%- include('partials/footer') %>
